@use "@/styles/colors/colors";

.glas-effect {
background: rgba(245, 238, 255, 0.329);
border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(71.7px);
-webkit-backdrop-filter: blur(77.7px);
}

.feature-content {
    background-color: colors.$main-bg-clr;
}