@use "@/styles/mixins" as *;


.main-content {
    @include flex-dir-jc-ai(column, center, center);
    // background-color: white;
    height: 100dvh;
    gap: 80px;
    overflow: hidden;

    @media (max-width: 620px) {
        gap: 20px;
    }
}