@use "@/styles/mixins" as *;
@use "@/styles/colors/colors";

.company-overlay-content {
  width: 100%;
  height: 100%;
  background-color: rgb(252, 243, 255);
  border-radius: 20px;

  > header {
    @include flex-dir-jc-ai(row, space-between, flex-start);
    height: 250px;
    width: 100%;

    @media (max-width: 1100px) {
      flex-direction: column;
      height: auto;
    }
  }
}

.company-img-wrapper {
  width: 65%;
  height: 100%;

  @media (max-width: 1100px) {
    width: 100%;
    height: 250px;
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;

      @media (max-width: 1100px) {
    border-top-right-radius: 0px;
  }
  }
}

.company-name-wrapper {
  width: 35%;
  height: fit-content;

  @media (max-width: 1100px) {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}

.separator {
  width: 90%;
  height: 1px;
  background-color: rgb(195, 0, 255);
  margin: 20px auto 0;
}

.main-content {
    position: relative;
}

.close-wrapper-desktop {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    padding: 6px;
    background-color: rgb(252, 243, 255);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(80%);
    }

    @media (max-width: 768px) {
        top: 12px;
        right: 12px;
    }

    @media (max-width: 1100px) {
        display: none;
    }
}

.close-wrapper-mobile {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    padding: 6px;
    background-color: rgb(252, 243, 255);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(80%);
    }

    @media (max-width: 768px) {
        top: 12px;
        right: 12px;
    }

        @media (max-width: 1100px) {
        display: flex;
    }
}