@keyframes flash-button {
  0%,
  100% {
    filter: brightness(0.9);
  }
  50%
 {
    filter: brightness(1.1);
  }
}

@keyframes delete-slide-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50dvw);
    opacity: 0;
  }
}