@use "@/styles/mixins" as *;

.settings-content {
  @include flex-dir-jc-ai(row);
  gap: 40px;

  > ul {
    @include flex-dir-jc-ai(row);
    background-color: white;
    border-radius: 16px; // für die ganze Leiste

    > li {
      > button {
        @include flex-dir-jc-ai(row, center, center);
        gap: 6px;
        padding: 8px 16px;
        border: none;
        transition: background-color 0.2s ease;
        background-color: white;

        > img {
          width: 16px;
          height: 16px;
          border-radius: 6px;
          transition: background-color 0.2s ease;
        }

        &:hover {
          background-color: rgb(201, 235, 255);

          > img {
            background-color: rgb(201, 235, 255);
          }
        }
      }

      &:first-child > button {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }

      &:last-child > button {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      &:not(:first-child):not(:last-child) > button {
        border-radius: 0;
      }

    //   &:not(:last-child) > button {
    //     border-right: 1px solid rgba(0, 0, 0, 0.1);
    //   }
    }
  }
}

.separator {
  width: 1px;
  height: 30px;
  background-color: rgb(112, 186, 255);
  border-radius: 2px;
}

.separator-mobile {
  width: 60px;
  height: 1px;
  background-color: rgb(112, 186, 255);
  border-radius: 2px;
}

.desktop-bar {
    @media (max-width: 620px) {
        display: none !important;
    }
}

.mobile-bar {
    display: none !important;

    @media (max-width: 620px) {
        display: flex !important;
       flex-direction: column !important;
    }
    > li {
        width: 100%;

        > button {
            width:100%;
        }

         &:first-child > button {
        border-top-left-radius: 0px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0 !important;
      }

         &:last-child > button {
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 16px;
      }
    }
}