@use "@/styles/colors/themes.scss";

$html-bg-clr: var(--html-bg-clr);

$main-bg-clr: var(--main-bg-clr);
$main-txt-clr: var(--main-txt-clr);

$navbar-hover-clr: var(--navbar-hover-clr);

$link-txt-clr: var(--link-txt-clr);
