@font-face {
  font-family: "ptsans regular";
  src: url("../../../public/fonts/pt_sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: "red hat";
  src: url("../../../public/fonts/pt_sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: "quintessential";
  src: url("../../../public/fonts/quintessential/Quintessential-Regular.ttf");
}

@font-face {
  font-family: "delius swash caps";
  src: url("../../../public/fonts/delius_swash_caps/DeliusSwashCaps-Regular.ttf");
}

@font-face {
  font-family: "sansation bold";
  src: url("../../../public/fonts/sansations/Sansation-Bold.ttf");
}
@font-face {
  font-family: "sansation reg";
  src: url("../../../public/fonts/sansations/Sansation-Regular.ttf");
}