//  className={`${styles['']}`}


// @use "@/styles/colors/colors";
// @use "@/styles/mixins";


// import styles from ".";

// export default function name () {
// return (
// <section className={`${styles['main-content']}`}></section>
// );
// }




// export default function Layout({
//   children,
// }: {
//   children: React.ReactNode
// }) {
//   return <section>{children}</section>
// }




// export default function ExportPage() {
//   return (
// <>

// </>
//   );
// }
